.textboxcsepage1 {
    text-align: center;
    padding: 30px;
    background: rgba(182, 165, 114, 0.9);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(241, 235, 235, 0.5);
}

.rulecsepage1 {
    color: black;
    background-color: rgb(234, 90, 117);
    padding: 10px;
    border-radius: 5px;
}

.acsepage1 {
    text-align: left;
}

.buttoncsepage1 {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.buttoncsepage1:hover {
    background-color: #555;
}

.popupcsepage1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-contentcsepage1 {
    background-color: bisque;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.closecsepage1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closecsepage1:hover, .close:focus {
    color: black;
    text-decoration: none;
}
.home{
    text-align:left;
    padding: 30px;
    background: rgba(186, 197, 168, 0.9);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(241, 235, 235, 0.5);
}
.home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}