.textboxmechpage2 {
    text-align: center;
    padding: 30px;
    background: rgba(207, 34, 34, 0.9);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(241, 235, 235, 0.5);
}

.rulemechpage2 {
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.amechpage2 {
    text-align: left;
}

.buttonmechpage2 {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.buttonmechpage2:hover {
    background-color: #555;
}

.popupmechpage2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-contentmechpage2 {
    background-color: bisque;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.closemechpage2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closemechpage2:hover, .closemechpage2:focus {
    color: black;
    text-decoration: none;
}
.home{
    text-align:left;
    padding: 30px;
    background: rgba(186, 197, 168, 0.9);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(241, 235, 235, 0.5);
}
.home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}