body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.header {
    background: linear-gradient(45deg, #ac9b14, #bab3c6);
    color: white;
    padding: 20px 0;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-details h1, 
.event-details h2, 
.event-details h3, 
.event-details h4, 
.event-details h5 {
    margin: 5px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.departments-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.department {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.department h2 {
    color: #007BFF;
    font-weight: 700;
}

.red {
    color: #DC3545;
}

.color {
    color: #0c0c0c;
}

.button {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .departments-row {
        flex-direction: column;
    }

    .department {
        width: 100%;
    }
}
.home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}