/* styles1.css */

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the form */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Label styling */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

/* Input field styling */
input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s;
}

/* Input field focus styling */
input[type="text"]:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button styling */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 480px) {
    .form-container {
        padding: 20px;
    }

    label,
    input[type="text"],
    select,
    button {
        font-size: 14px;
    }
}

.home{
    text-align:left;
}

.home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
